.Keyboard {
  margin-top: 1rem ;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.button {
  border: 1px solid transparent;
  border-radius: 100%;
  /* padding: 1rem 1.3rem; */
  height: 4.5rem;
  width: 4.5rem;
  font-size: 25px;
  outline: none;
  margin: 2px;
}

.button:active {
  background-color: #444;
  color: #fff;
}

#double {
  margin: 5px 0;
  border-radius: 35px;
  height: 4.1rem;
  width: 9rem;
  grid-column: span 2;
}

.button.operators {
  background-color: #fa8231;
  color: #fff;
}

.button.operators:active {
  background-color: #fa8231cc;
}

