.App {
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.App .Calculator{
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 1rem;
  /* max-width: 280px;
  max-height: 500px; */
}